body {
    background-color: #333;
    color: #fff;
}

#score #speed {
    display: inline-block;
}

div {
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}

canvas {
    display: block;
    margin: 0 auto;
}